- 그룹으로 묶인 애들을 집계말고 다른 처리가 가능하다.

# filter()
- `DataFrameGroupBy.filter(func, dropna=True, *args, **kwargs)`

- 처리대상 : 그룹바이한 데이터프레임


- 특정 집계 조건을 만족하는 Group의 행들만 조회한다.

    1. 'DataFrameGroupBy의 group로 DataFrame을 함수에 전달'한다.
    2. 함수는 받은 DataFrame을 이용해 집계한 값의 조건을 비교해서 반환한다.(반환타입: Bool) 
    3. 반환값이 True인 Group들의 모든 행들로 구성된 DataFrame을 반환한다.
    
    
    
- 매개변수
    - func: filtering 조건을 구현한 함수
        - 첫번째 매개변수로 "Group으로 묶인 DataFrame"을 받는다.
    - dropna=True
        - 필터를 통과하지 못한 group의 DataFrame의 값들을 drop시킨다. False로 설정하면 NA 처리해서 반환한다.
    - \*args (포지션으로 써도 되고 ), \*\*kwargs(키워드로 써도 된다.)
        - : filter 함수의 매개변수에 전달할 전달인자값.
    
** cf) df.filter (items , regex ..) : 데이터프레임에 대한. // 이름만 같음. 클래스 다름

In [2]:
import numpy as np
import pandas as pd

In [250]:
# cnt1 - 사과: 10대, 귤: 20대, 배: 단단위, 딸기 30이상
data = dict(fruits=['사과', '사과','사과', '사과','사과','귤','귤','귤','귤','귤','배','배','배','배','배','딸기','딸기','딸기','딸기','딸기']
            ,cnt1=[10, 12, 13, 11, 12, 21, 22, 27, 24, 26, 7, 7, 8, 3, 2, 30, 35, 37, 41, 28]
            ,cnt2=[100,  103, 107, 107,  101,  51,  57, 58,  57, 51,  9, 9,  5,  7,  7,  208, 217, 213, 206, 204]
           )
df = pd.DataFrame(data)
df

   fruits  cnt1  cnt2
0      사과    10   100
1      사과    12   103
2      사과    13   107
3      사과    11   107
4      사과    12   101
5       귤    21    51
6       귤    22    57
7       귤    27    58
8       귤    24    57
9       귤    26    51
10      배     7     9
11      배     7     9
12      배     8     5
13      배     3     7
14      배     2     7
15     딸기    30   208
16     딸기    35   217
17     딸기    37   213
18     딸기    41   206
19     딸기    28   204

#### 과일중 cnt1의 평균이 20 이상인 과일들만 보기
- 집계결과가 아니라 조건을 만족하는 행들을 다 출력

In [8]:
# 집계결과. 평균이 20이상인 과일들의 평균값을 확인하는 것.
r = df.groupby('fruits').mean()
i = r[r['cnt1']>=20]
i

# df[(df['fruits'] =='귤' )|( df['fruits'] == '딸기')] # 지금 이걸 보고 싶다.

        cnt1   cnt2
fruits
귤       24.0   54.8
딸기      34.2  209.6

In [59]:
# 조건을 만족하는 행들을 다 출력.

# df.groupby("fruits").filter(함수:그룹별 cnt1 평균이 20 이상이야?) true, false 


def check_cnt1_mean(x):
    """
    filter에 사용할 함수
    매개변수:x - (group별로 나뉜)dataframe에서 그룹을 하나씩 받는다. (그룹 4개면 네번 호출)
               - 그룹으로 묶인 데이터프레임 행들을 받는다.
    반환값 : bool - 특정 조건을 만족하는지 여부
    """
    return x['cnt1'].mean() >= 20   
    # 받아온 데이터프레임 행들에서 cnt1 컬럼의 평균 계산해서 20 부터 큰지 여부
    
    
# 그룹별로 특정 조건을 만족하는 행들을 조회 해주는 함수  

# filter 안에 함수 넣으면 그룹별 하나씩 함수 매개변수로 넣어주는 것.
df.groupby('fruits').filter(check_cnt1_mean)

   fruits  cnt1  cnt2
5       귤    21    51
6       귤    22    57
7       귤    27    58
8       귤    24    57
9       귤    26    51
15     딸기    30   208
16     딸기    35   217
17     딸기    37   213
18     딸기    41   206
19     딸기    28   204

In [11]:
# 함수는 단순 리턴으로 되어 있다. 그리고 일회성. 재사용 안 할거면.
# lambda 식으로 구현

df.groupby('fruits').filter(lambda x : x['cnt1'].mean() >= 20)

   fruits  cnt1  cnt2
5       귤    21    51
6       귤    22    57
7       귤    27    58
8       귤    24    57
9       귤    26    51
15     딸기    30   208
16     딸기    35   217
17     딸기    37   213
18     딸기    41   206
19     딸기    28   204

In [14]:
# F : 조건이 만족하지 않는 그룹들도 조회되는데, 만족하지 않는 애들은 NaN로   

df.groupby('fruits').filter(check_cnt1_mean, dropna = False)

df.groupby('fruits').filter(lambda x : x['cnt1'].mean() >= 20, dropna = False)

   fruits  cnt1   cnt2
0     NaN   NaN    NaN
1     NaN   NaN    NaN
2     NaN   NaN    NaN
3     NaN   NaN    NaN
4     NaN   NaN    NaN
5       귤  21.0   51.0
6       귤  22.0   57.0
7       귤  27.0   58.0
8       귤  24.0   57.0
9       귤  26.0   51.0
10    NaN   NaN    NaN
11    NaN   NaN    NaN
12    NaN   NaN    NaN
13    NaN   NaN    NaN
14    NaN   NaN    NaN
15     딸기  30.0  208.0
16     딸기  35.0  217.0
17     딸기  37.0  213.0
18     딸기  41.0  206.0
19     딸기  28.0  204.0

#### 매개변수 있는 filter함수

In [ ]:
# 위에는 어떤 컬럼을 조건에 들어가는 정수값이 뭔지를 함수에서 적어주었다.
# 이를 매개변수로 받으면 어떨까

def check_mean(x, col_name, mean_thresh):
    """
    [Parameter]
        - x : DateFrame - group 별 DataFrame
        - col_name : str - 평균을 계산할 컬럼명
        - mean_thresh : int - 컬럼의 평균값이 이 값 인지 비교할 기준값
    [return]
        - bool : 컬럼의 평균이 mean_thresh 이상인지 여부
    """
    
    return x[col_name].mean() >= mean_thresh

In [17]:
# 키워드 인자 쓰는 게 좋음.
df.groupby('fruits').filter(check_mean, col_name ='cnt1', mean_thresh = 20)
df.groupby('fruits').filter(check_mean, col_name = 'cnt2', mean_thresh = 200)

   fruits  cnt1  cnt2
15     딸기    30   208
16     딸기    35   217
17     딸기    37   213
18     딸기    41   206
19     딸기    28   204

In [ ]:
# 람다식은 일회성. 재사용하여 매개변수값 받고 싶으면 람다식 쓸 필요가 없.

# df.groupby('fruits').filter(lambda x, col_name, mean_thresh : x['cnt1'].mean() >= 20, dropna = False), col_name='cnt1', mean_thresh = 200)

In [116]:
# 판다스 제공 함수로도 되나? 안됨.

df.groupby('fruits').filter("mean")

TypeError: 'str' object is not callable

# transform
- 함수에 의해 처리된 값(반환값)으로 원래 값들을 변경(tranform) 해서 반환    
- DataFrame에 Group 단위 통계량을 추가할 때 유용하다. (그룹별로 데이터 값, 통계 값들을 같이 비교하고 싶을 때)
- (값을 다 바꿈. 그룹별로 다 값 같게 됨.)


- `DataFrameGroupBy.transform(func, *args)`, `SeriesGroupBy.transform(func, *args)`
    - func: 매개변수로 그룹별로 Series를 받아 Series의 값들을 변환하여 (Series로)반환하는 함수객체
        - DataFrameGroupBy은 모든 컬럼의 값들을 group 별 Series로 전달한다.
    - *args: 함수에 전달할 추가 인자값이 있으면 매개변수 순서에 맞게 값을 전달한다. (위치기반 argument)
- transform() 함수를 groupby() 와 사용하면 컬럼의 각 원소들을 자신이 속한 그룹의 통계량으로 변환된 데이터셋을 생성할 수 있다.
- 컬럼의 값과 통계값을 비교해서 보거나 결측치 처리등에 사용할 수있다.

In [20]:
df.groupby('fruits').mean()

        cnt1   cnt2
fruits
귤       24.0   54.8
딸기      34.2  209.6
배        5.4    7.4
사과      11.6  103.6

In [24]:
# agg(), filter(), transfrom() 
# -> dataframeGroupby의 메소드 : 판다스 제공 집계함수 - 문자열, 사용자 정의 집계 함수 - 함수 객체


r = df.groupby('fruits').transform("mean")

r['과일'] = df['fruits']
r

    cnt1   cnt2  과일
0   11.6  103.6  사과
1   11.6  103.6  사과
2   11.6  103.6  사과
3   11.6  103.6  사과
4   11.6  103.6  사과
5   24.0   54.8   귤
6   24.0   54.8   귤
7   24.0   54.8   귤
8   24.0   54.8   귤
9   24.0   54.8   귤
10   5.4    7.4   배
11   5.4    7.4   배
12   5.4    7.4   배
13   5.4    7.4   배
14   5.4    7.4   배
15  34.2  209.6  딸기
16  34.2  209.6  딸기
17  34.2  209.6  딸기
18  34.2  209.6  딸기
19  34.2  209.6  딸기

In [28]:
# 사용자 정의 통계함수 사용
def max_min_diff(x):
    """ 사용자 정의 통계함수
    매개변수 : Series (그룹별로 컬럼별로 -> series 단위로 )
    반환 : 처리한 통계값
    """
    return x.max() - x.min()

r = df.groupby('fruits').transform(max_min_diff)
r["과일"] = df.fruits
r

    cnt1  cnt2  과일
0      3     7  사과
1      3     7  사과
2      3     7  사과
3      3     7  사과
4      3     7  사과
5      6     7   귤
6      6     7   귤
7      6     7   귤
8      6     7   귤
9      6     7   귤
10     6     4   배
11     6     4   배
12     6     4   배
13     6     4   배
14     6     4   배
15    13    13  딸기
16    13    13  딸기
17    13    13  딸기
18    13    13  딸기
19    13    13  딸기

In [29]:
# lambda식

df.groupby("fruits").transform(lambda x : x.max()-x.min())

    cnt1  cnt2
0      3     7
1      3     7
2      3     7
3      3     7
4      3     7
5      6     7
6      6     7
7      6     7
8      6     7
9      6     7
10     6     4
11     6     4
12     6     4
13     6     4
14     6     4
15    13    13
16    13    13
17    13    13
18    13    13
19    13    13

## 응용 : 원본에 통계치 붙여서 비교하기

In [249]:
# 특정 컬럼 cnt1의 과일 별 평균을   df에 행별로 붙이기

# 그냥 붙이면 가장 마지막 컬럼으로 붙는다.
# 우리는 평균 낸 대상 컬럼의 옆에 붙이고 싶다.

cnt1_mean = df.groupby('fruits')['cnt1'].transform('mean')


# (컬럼을 삽입할 위치 순번, 컬럼명, 컬럼값 ) => 원본을 변경
df.insert(2, 'cnt1_mean', cnt1_mean)
df

KeyError: 'fruits'

In [53]:
# cnt2 에 평균값붙이기
df['cnt2 mean'] = df.groupby('fruits')['cnt2'].transform("mean")
df

   fruits  cnt1  cnt1_mean  cnt2  cnt2 mean
0      사과    10       11.6   100      103.6
1      사과    12       11.6   103      103.6
2      사과    13       11.6   107      103.6
3      사과    11       11.6   107      103.6
4      사과    12       11.6   101      103.6
5       귤    21       24.0    51       54.8
6       귤    22       24.0    57       54.8
7       귤    27       24.0    58       54.8
8       귤    24       24.0    57       54.8
9       귤    26       24.0    51       54.8
10      배     7        5.4     9        7.4
11      배     7        5.4     9        7.4
12      배     8        5.4     5        7.4
13      배     3        5.4     7        7.4
14      배     2        5.4     7        7.4
15     딸기    30       34.2   208      209.6
16     딸기    35       34.2   217      209.6
17     딸기    37       34.2   213      209.6
18     딸기    41       34.2   206      209.6
19     딸기    28       34.2   204      209.6

In [129]:
# sampling => 표본추출. frac = 샘플 비율(0~1 : 1= 100%, 0.1 = 10%)
# 행 중 랜덤하게 n 개를 추출하고 싶을 때 (알아서 섞임)

df.sample(frac = 0.1)

# index명까지 섞인다.

   fruits  cnt1  cnt2
13      배     3   7.0
11      배     7   9.0

In [126]:
# 섞인 index명을 자동증가 정수로 변환
df.sample(frac = 0.1).reset_index(drop = True)

  fruits  cnt1      cnt2
0      배     7  9.000000
1      배     7  7.666667

## 결측치 처리

- 결측치 : 모르는 값, 없는 값. 
- 모르는 값이 있으면 분석하기 힘들다. 이 결측치를 처리해줘야 함.


- 결측치 처리
    1. 제거 (행/열단위)
        - 데이터 양이 충분할 때 제거.
    2. 대체
        - 가장 가능성이 높은 값을 대체 (평균, 중앙값, 최빈값)
        - 결측치를 표현하는 값으로 대체 (NAN 대신 모르는 값이라는 의미를 담고있는)
        

- transform이용해서 여기선 결측치를 같은 과일그룹의 평균값으로 변환
    - 전체 평균보다 좀더 정확할 수 있다.

In [251]:
df.loc[(0,1,5,7,10, 12, 15,16), 'cnt2'] = None

df

   fruits  cnt1   cnt2
0      사과    10    NaN
1      사과    12    NaN
2      사과    13  107.0
3      사과    11  107.0
4      사과    12  101.0
5       귤    21    NaN
6       귤    22   57.0
7       귤    27    NaN
8       귤    24   57.0
9       귤    26   51.0
10      배     7    NaN
11      배     7    9.0
12      배     8    NaN
13      배     3    7.0
14      배     2    7.0
15     딸기    30    NaN
16     딸기    35    NaN
17     딸기    37  213.0
18     딸기    41  206.0
19     딸기    28  204.0

In [65]:
# 결측치 제거 - dropna()
# 행, 열 단위로 제거되면, 의미있는 쓸 수 있는 데이터도 사라지게 된다. 
# 데이터의 전체 총량이 많으면 몇 개 삭제되도 상관없지만 

# 결측치가 있는 행(기본)로 제거
df.dropna()
 # 결측치가 있는 열 제거
df.dropna(axis  = 1)

   fruits  cnt1
0      사과    10
1      사과    12
2      사과    13
3      사과    11
4      사과    12
5       귤    21
6       귤    22
7       귤    27
8       귤    24
9       귤    26
10      배     7
11      배     7
12      배     8
13      배     3
14      배     2
15     딸기    30
16     딸기    35
17     딸기    37
18     딸기    41
19     딸기    28

In [ ]:
# 결측치 대체 fillna(대체값)  - 평균으로 대체

In [ ]:
# 결측치가 있는 컬럼을. 하나의 컬럼이 대상이니 -> series 단위.

# cnt2 의 Na 결측치 값을 cnt2의 평균 값으로 대체하라.

rep = round(df['cnt2'].mean(), 2)

df['cnt2'].fillna(rep, inplace = True) # 원본 바꿈.

In [77]:
# 바꾼 것을 다시 넣어주려고 복사해서 새로운 데이터프레임에 넣은 것.
# 원본 안 바꾸려고
df2 = df.copy()
df2['cnt2'] = df['cnt2'].fillna(round(df['cnt2'].mean(), 2))
df2

   fruits  cnt1    cnt2
0      사과    10   93.83
1      사과    12   93.83
2      사과    13  107.00
3      사과    11  107.00
4      사과    12  101.00
5       귤    21   93.83
6       귤    22   57.00
7       귤    27   93.83
8       귤    24   57.00
9       귤    26   51.00
10      배     7   93.83
11      배     7    9.00
12      배     8   93.83
13      배     3    7.00
14      배     2    7.00
15     딸기    30   93.83
16     딸기    35   93.83
17     딸기    37  213.00
18     딸기    41  206.00
19     딸기    28  204.00

In [253]:
# 대체를 할 때 전체 대표값 전체 평균 보다는 각 범주 각 그룹 별 대표값 평균으로 대체 하면 좋을 것이다.

# fillna로 결측치와 동일한 index명의 값으로 결측치를 채운다.
df['cnt2'].fillna(df.groupby('fruits')['cnt2'].transform('mean'), inplace = True)
df

   fruits  cnt1        cnt2
0      사과    10  105.000000
1      사과    12  105.000000
2      사과    13  107.000000
3      사과    11  107.000000
4      사과    12  101.000000
5       귤    21   55.000000
6       귤    22   57.000000
7       귤    27   55.000000
8       귤    24   57.000000
9       귤    26   51.000000
10      배     7    7.666667
11      배     7    9.000000
12      배     8    7.666667
13      배     3    7.000000
14      배     2    7.000000
15     딸기    30  207.666667
16     딸기    35  207.666667
17     딸기    37  213.000000
18     딸기    41  206.000000
19     딸기    28  204.000000

In [258]:
########## 다시 하기. 필기보고.

a = pd.Series([1,2,None, 3,None, 4])
b = pd.Series([100,200,300,400,500, 600])

a.fillna(1000)
a.fillna(b) # a와 동일한 size의 seires를 넣으면 결측치와 동일한 index명의 값으로 결측치를 채운다.

0      1.0
1      2.0
2    300.0
3      3.0
4    500.0
5      4.0
dtype: float64

# TODO 
- data/diamonds.csv 조회

In [104]:
# cut 별 평균 가격이 4000 이상인 diamond 데이터들 조회 

dia = pd.read_csv('data/diamonds.csv')

cut
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: price, dtype: float64

In [114]:
def cmean(x):
    return x["price"].mean() >= 4000

dia.groupby("cut").filter(cmean)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]

In [119]:
# color 별 carat의 최대값과 최소값의 차이가 2이상 3미만인 모든 diamond 데이터들 조회
# 사실 계산한 결과를 대상으로 조건 비교하기에 그냥 함수 만드는 게 더 깔끔.

r= dia.groupby("color").filter(lambda x : (x["carat"].max() - x["carat"].min() >= 2) and (x["carat"].max() - x["carat"].min() < 3) )

r

r["color"].unique()

array(['E', 'F', 'G'], dtype=object)

In [97]:
dia.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [122]:
# clarity 별 평균 가격 컬럼을 DataFrame에 추가.


dia.insert(7, "price_mean", dia.groupby("clarity")["price"].transform("mean"))

In [123]:
dia

,carat,cut,color,clarity,depth,table,price,price_mean,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,326,5063.028606,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,3996.001148,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,3839.455391,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,3924.989395,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,5063.028606,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,3996.001148,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,2757,3996.001148,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,3996.001148,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,5063.028606,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5063.028606,5.83,5.87,3.64

# pivot_table()
엑셀의 pivot table 기능을 제공하는 메소드.    


분류별 집계(Group으로 묶어 집계)를 처리하는 함수로 group으로 묶고자 하는 컬럼을 **행과 열로 위치시키고 집계값을 값으로 보여준다.**    
역할은 groupby() 를 이용한 집계와 같다.

> cf) pivot() 함수와 역할이 다르다.   
> pivot() 은 index와 column의 형태를 바꾸는 reshape 함수.

- `DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`


- **매개변수**
    - index
        - 문자열 또는 리스트(여러개면). index로 올 컬럼들 => groupby였으면 묶었을 컬럼
    - columns
        - 문자열 또는 리스트(여러개면). column으로 올 컬럼들 => groupby였으면 묶었을 컬럼 (index/columns가 묶여서 groupby에 묶을 컬럼들이 된다.)  
        
    - values
        - 문자열 또는 리스트. 집계할 대상 컬럼들 
        
    - aggfunc
        - 집계함수 지정. 함수, 함수이름 (문자열),  사용자 정의 함수(객체로), 함수리스트(함수이름 문자열/함수객체), dict: 집계할 함수,  
        - 기본(생략시): 평균을 구한다. (mean이 기본값)
        
    - fill_value, dropna
        - fill_value: 집계시 NA가 나올경우 채울 값
        - dropna: boolean. 컬럼의 전체값이 NA인 경우 그 컬럼 제거(기본: True)
        
    - margins/margins_name
        - 그룹별 집계값 보고 마지막 행에 전체의 집계값 보여줌.
        - margin: boolean(기본: False). 총집계결과를 만들지 여부.
        - margin_name: margin의 이름 문자열로 지정 (생략시 All)

In [130]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [132]:
# AIRLINE, MONTH 별 AIR_TIME 평균 (두개 이상의 컬럼을 GROUP 으로 묶어서 집계)

# multi index로 series 나옴.
flights.groupby(['AIRLINE', 'MONTH'])['AIR_TIME'].mean()

AIRLINE  MONTH
AA       1        138.793103
         2        143.126560
         3        142.026163
         4        144.544267
         5        145.261538
                     ...
WN       7        109.377500
         8        109.173248
         9        109.842239
         11       104.704244
         12       104.136304
Name: AIR_TIME, Length: 149, dtype: float64

- 2차 그룹으로 집계하면  : multi index로 => 가독성이 안 좋다.
- 이를 행과 열로 나눠 보자. -> 피벗테이블

## 1개의 컬럼을 grouping 해서 집계
- 항공사별 비행시간의 평균 
- 사용컬럼
    - grouping할 컬럼
        - AIRLINE: 항공사
    - 집계대상컬럼
        - AIR_TIME
- 집계: mean

In [133]:
# 사실 하나 일때는 피벗 안 필요없. 그냥 group.

# groupby 로 (series로 나옴.)
flights.groupby('AIRLINE')['AIR_TIME'].mean()

AIRLINE
AA    144.259404
AS    147.845052
B6    209.412963
DL    115.334187
EV     68.964016
F9    127.592337
HA    338.288288
MQ     61.318346
NK    135.736878
OO     76.010272
UA    155.650521
US    147.686755
VX    154.864097
WN    107.005897
Name: AIR_TIME, dtype: float64

In [137]:
# 피벗테이블 로 (table로 나옴.)

flights.pivot_table(values='AIR_TIME', # 집계대상
                   index = 'AIRLINE', # Grouping 할 대상 컬럼 중 index로 올 컬럼
                   # aggfunc='mean' 기본값.
                    margins = True, # 총 집계값 (ALL = 전체 평균)
                    margins_name = "전체평균"
                   )

           AIR_TIME
AIRLINE
AA       144.259404
AS       147.845052
B6       209.412963
DL       115.334187
EV        68.964016
F9       127.592337
HA       338.288288
MQ        61.318346
NK       135.736878
OO        76.010272
UA       155.650521
US       147.686755
VX       154.864097
WN       107.005897
전체평균     115.928576

In [271]:
flights.pivot_table(values = ['AIR_TIME'], # 집계 대상
                    index = 'AIRLINE', # Grouping 할 대상 컬럼 중 index 로 올 컬럼
                    columns = 'MONTH', # Grouping 할 대상 컬럼 중 columns 로 올 컬럼
                    aggfunc = "mean",   # 집계 함수
                    dropna = True,
                    margins_name = "총통계치"
                   )

           AIR_TIME                                                  \
MONTH            1           2           3           4           5
AIRLINE
AA       138.793103  143.126560  142.026163  144.544267  145.261538
AS       149.727273  150.229508  142.707692  159.416667  155.051948
B6       191.956522  198.088889  200.400000  220.318182  215.327273
DL       116.238788  111.725992  118.036597  115.314459  114.810089
EV        72.410985   69.532558   69.933871   71.035273   70.631380
F9       120.910000  119.052632  121.841121  118.972727  135.850000
HA       337.562500  355.222222  352.500000  366.000000  318.076923
MQ        61.418539   61.426471   61.412844   63.825784   61.558219
NK       136.528926  130.637255  125.991667  132.106796  136.618321
OO        73.173285   73.667283   75.170819   74.300319   74.906298
UA       149.837838  149.138840  153.755525  154.971212  160.078729
US       142.256917  149.177570  146.796226  150.505376  147.121864
VX       134.305882  140.987342  164.886076  152.094737  167.136364
WN       106.969118  101.603421  105.253595  106.388430  108.313194

                                                                     \
MONTH            6           7           8           9           11
AIRLINE
AA       147.812329  145.608527  147.289990  143.572354  139.170705
AS       141.458824  146.582278  138.721311  136.710145  148.750000
B6       212.491525  201.173077  214.764706  201.818182  213.869565
DL       116.052156  116.749509  119.270295  111.230126  113.592265
EV        70.365714   67.748299   67.699083   66.691983   66.869469
F9       132.771429  122.269841  132.853659  131.765766  126.080645
HA       325.700000  318.923077  344.500000  354.250000  346.625000
MQ        63.071429   63.297468   60.610922   59.873684   58.265957
NK       139.395833  143.191176  136.057692  131.301775  141.052980
OO        74.376238   75.692182   75.590690   77.166667   79.918626
UA       159.645467  163.092683  158.892994  153.231548  148.753228
US       149.871287         NaN         NaN         NaN         NaN
VX       155.240000  157.744186  143.144444  176.191011  160.412371
WN       109.922208  109.377500  109.173248  109.842239  104.704244


MONTH            12
AIRLINE
AA       147.931111
AS       156.333333
B6       228.826923
DL       114.258836
EV        64.339408
F9       134.643411
HA       331.000000
MQ        59.205674
NK       137.098039
OO        83.393214
UA       156.592047
US              NaN
VX       150.459184
WN       104.136304

In [138]:
# 여러 집계값/집계대상컬럼/index/colums 의 컬럼을 여러 개 넣을 경우 리스트로 묶어서 전달.

# 여러 집계값에 대해 보자.


flights.pivot_table(values = 'AIR_TIME', index ='AIRLINE', aggfunc = ['min', 'median', 'max'])

             min   median      max
        AIR_TIME AIR_TIME AIR_TIME
AIRLINE
AA          29.0    132.0    513.0
AS          58.0    131.0    402.0
B6          40.0    256.0    344.0
DL          22.0     93.0    577.0
EV          14.0     65.0    212.0
F9          55.0    118.0    296.0
HA         281.0    336.0    411.0
MQ          16.0     53.0    199.0
NK          39.0    127.0    295.0
OO           8.0     67.0    258.0
UA          23.0    136.0    542.0
US          36.0    132.0    413.0
VX          39.0    105.5    347.0
WN          30.0     93.0    321.0

In [139]:
# 여러 집계값/집계대상컬럼/index/colums 의 컬럼을 여러 개 넣을 경우 리스트로 묶어서 전달.

# 여러 집계값, 여러 집계대상 컬럼에 대해 보자.

flights.pivot_table(values = ['AIR_TIME', 'ARR_DELAY'], index ='AIRLINE', aggfunc = ['min', 'median', 'max'])

             min             median                max
        AIR_TIME ARR_DELAY AIR_TIME ARR_DELAY AIR_TIME ARR_DELAY
AIRLINE
AA          29.0     -60.0    132.0      -5.0    513.0     858.0
AS          58.0     -57.0    131.0      -6.0    402.0     344.0
B6          40.0     -51.0    256.0      -2.0    344.0     331.0
DL          22.0     -57.0     93.0      -7.0    577.0     741.0
EV          14.0     -39.0     65.0      -3.0    212.0     669.0
F9          55.0     -43.0    118.0      -1.0    296.0     839.0
HA         281.0     -44.0    336.0       0.0    411.0     298.0
MQ          16.0     -37.0     53.0      -4.0    199.0     357.0
NK          39.0     -39.0    127.0       2.0    295.0     474.0
OO           8.0     -44.0     67.0      -3.0    258.0     724.0
UA          23.0     -58.0    136.0      -4.0    542.0    1185.0
US          36.0     -51.0    132.0      -4.0    413.0     431.0
VX          39.0     -51.0    105.5      -3.0    347.0     236.0
WN          30.0     -52.0     93.0      -3.0    321.0     493.0

## 두개의 컬럼을 grouping 해서 집계
- 항공사/출발공항코드 별 취소 총수 (1이 취소이므로 합계를 구한다.)
- 사용컬럼
    - grouping할 컬럼
        - AIRLINE: 항공사
        - ORG_AIR: 출발 공항코드
    - 집계대상컬럼
        - CANCELLED: 취소여부 - 1:취소, 0: 취소안됨
- 집계: sum

In [264]:
flights.groupby(["AIRLINE","ORG_AIR"])['CANCELLED'].sum().sort_index()

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
         LAX        11
         MSP         3
         ORD        35
         PHX         4
         SFO         2
AS       ATL         0
         DEN         0
         DFW         0
         IAH         0
         LAS         0
         LAX         0
         MSP         0
         ORD         0
         PHX         0
         SFO         0
B6       DEN         0
         DFW         0
         LAS         0
         LAX         0
         ORD         0
         PHX         0
         SFO         1
DL       ATL        28
         DEN         1
         DFW         0
         IAH         0
         LAS         1
         LAX         1
         MSP         4
         ORD         0
         PHX         1
         SFO         2
EV       ATL        18
         DEN         6
         DFW        27
         IAH        36
         MSP         6
         ORD        53
         PHX         0
F9       ATL         0
         DEN         2
         DFW         1
         IAH         0
         LAS         1
         LAX         1
         MSP         1
         ORD         4
         PHX         0
         SFO         0
HA       LAS         0
         LAX         0
         PHX         0
         SFO         0
MQ       ATL         5
         DFW        62
         IAH         0
         LAX         0
         MSP         0
         ORD        85
NK       ATL         1
         DEN         1
         DFW         6
         IAH         0
         LAS         1
         LAX         1
         MSP         3
         ORD        10
         PHX         2
OO       ATL         3
         DEN        25
         DFW         2
         IAH        10
         LAS         0
         LAX        15
         MSP         4
         ORD        41
         PHX         9
         SFO        33
UA       ATL         2
         DEN         9
         DFW         1
         IAH        23
         LAS         3
         LAX         6
         MSP         2
         ORD        25
         PHX         3
         SFO        19
US       ATL         0
         DEN         0
         DFW         2
         IAH         2
         LAS         1
         LAX         0
         MSP         0
         ORD         6
         PHX         7
         SFO         3
VX       LAS         0
         LAX         3
         ORD         0
         SFO         3
WN       ATL         9
         DEN        13
         LAS         7
         LAX        32
         MSP         1
         PHX         6
         SFO        25
Name: CANCELLED, dtype: int64

In [142]:
flights.pivot_table(values='CANCELLED', index = 'AIRLINE', columns = 'ORG_AIR', # 그룹으로 묶을 컬럼들을 INDEX, COLCUMNS 지정
                   aggfunc = "sum") 

# NAN 인 것은 그 group들의 값을 가진 행이 없는 경우. 첫번째 그룹과 두번째 그룹을 동시에 만족하는 데이터는 없을 때.
# 0은 집계할 값이 있는데, 합계를 구했더니 0인것.

ORG_AIR   ATL   DEN   DFW   IAH  LAS   LAX  MSP   ORD  PHX   SFO
AIRLINE
AA        3.0   4.0  86.0   3.0  3.0  11.0  3.0  35.0  4.0   2.0
AS        0.0   0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0   0.0
B6        NaN   0.0   0.0   NaN  0.0   0.0  NaN   0.0  0.0   1.0
DL       28.0   1.0   0.0   0.0  1.0   1.0  4.0   0.0  1.0   2.0
EV       18.0   6.0  27.0  36.0  NaN   NaN  6.0  53.0  0.0   NaN
F9        0.0   2.0   1.0   0.0  1.0   1.0  1.0   4.0  0.0   0.0
HA        NaN   NaN   NaN   NaN  0.0   0.0  NaN   NaN  0.0   0.0
MQ        5.0   NaN  62.0   0.0  NaN   0.0  0.0  85.0  NaN   NaN
NK        1.0   1.0   6.0   0.0  1.0   1.0  3.0  10.0  2.0   NaN
OO        3.0  25.0   2.0  10.0  0.0  15.0  4.0  41.0  9.0  33.0
UA        2.0   9.0   1.0  23.0  3.0   6.0  2.0  25.0  3.0  19.0
US        0.0   0.0   2.0   2.0  1.0   0.0  0.0   6.0  7.0   3.0
VX        NaN   NaN   NaN   NaN  0.0   3.0  NaN   0.0  NaN   3.0
WN        9.0  13.0   NaN   NaN  7.0  32.0  1.0   NaN  6.0  25.0

In [148]:
flights.pivot_table(values='CANCELLED', index = 'AIRLINE', columns = 'ORG_AIR', # 그룹으로 묶을 컬럼들을 INDEX, COLCUMNS 지정
                   aggfunc = "sum",
                    margins = True,
                   fill_value = -10000 # nan을 지정한 값으로 변경
                   ) 

# margins 전체 집계 all은 양 쪽 행, 열 모두에 생긴다. ??

ORG_AIR,ATL,DEN,DFW,IAH,LAS,LAX,MSP,ORD,PHX,SFO,All
AIRLINE,,,,,,,,,,,
AA,3,4,86,3,3,11,3,35,4,2,154
AS,0,0,0,0,0,0,0,0,0,0,0
B6,-10000,0,0,-10000,0,0,-10000,0,0,1,1
DL,28,1,0,0,1,1,4,0,1,2,38
EV,18,6,27,36,-10000,-10000,6,53,0,-10000,146
F9,0,2,1,0,1,1,1,4,0,0,10
HA,-10000,-10000,-10000,-10000,0,0,-10000,-10000,0,0,0
MQ,5,-10000,62,0,-10000,0,0,85,-10000,-10000,152
NK,1,1,6,0,1,1,3,10,2,-10000,25
OO,3,25,2,10,0,15,4,41,9,33,142
UA,2,9,1,23,3,6,2,25,3,19,93
US,0,0,2,2,1,0,0,6,7,3,21
VX,-10000,-10000,-10000,-10000,0,3,-10000,0,-10000,3,6
WN,9,13,-10000,-10000,7,32,1,-10000,6,25,93
All,69,61,187,74,17,70,24,259,32,88,881

In [149]:
flights.pivot_table(values =["DIVERTED", "CANCELLED"], index = 'AIRLINE', columns ='ORG_AIR', aggfunc = 'sum')

        CANCELLED                                                    DIVERTED  \
ORG_AIR       ATL   DEN   DFW   IAH  LAS   LAX  MSP   ORD  PHX   SFO      ATL
AIRLINE
AA            3.0   4.0  86.0   3.0  3.0  11.0  3.0  35.0  4.0   2.0      1.0
AS            0.0   0.0   0.0   0.0  0.0   0.0  0.0   0.0  0.0   0.0      0.0
B6            NaN   0.0   0.0   NaN  0.0   0.0  NaN   0.0  0.0   1.0      NaN
DL           28.0   1.0   0.0   0.0  1.0   1.0  4.0   0.0  1.0   2.0     18.0
EV           18.0   6.0  27.0  36.0  NaN   NaN  6.0  53.0  0.0   NaN      6.0
F9            0.0   2.0   1.0   0.0  1.0   1.0  1.0   4.0  0.0   0.0      0.0
HA            NaN   NaN   NaN   NaN  0.0   0.0  NaN   NaN  0.0   0.0      NaN
MQ            5.0   NaN  62.0   0.0  NaN   0.0  0.0  85.0  NaN   NaN      0.0
NK            1.0   1.0   6.0   0.0  1.0   1.0  3.0  10.0  2.0   NaN      0.0
OO            3.0  25.0   2.0  10.0  0.0  15.0  4.0  41.0  9.0  33.0      0.0
UA            2.0   9.0   1.0  23.0  3.0   6.0  2.0  25.0  3.0  19.0      0.0
US            0.0   0.0   2.0   2.0  1.0   0.0  0.0   6.0  7.0   3.0      0.0
VX            NaN   NaN   NaN   NaN  0.0   3.0  NaN   0.0  NaN   3.0      NaN
WN            9.0  13.0   NaN   NaN  7.0  32.0  1.0   NaN  6.0  25.0      1.0


ORG_AIR  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA       1.0  8.0  0.0  3.0  1.0  0.0  4.0  4.0  4.0
AS       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
B6       0.0  0.0  NaN  1.0  0.0  NaN  1.0  0.0  0.0
DL       1.0  1.0  0.0  1.0  1.0  1.0  0.0  1.0  0.0
EV       0.0  3.0  4.0  NaN  NaN  1.0  1.0  0.0  NaN
F9       0.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0
HA       NaN  NaN  NaN  0.0  1.0  NaN  NaN  0.0  0.0
MQ       NaN  2.0  0.0  NaN  0.0  0.0  3.0  NaN  NaN
NK       0.0  2.0  1.0  1.0  0.0  1.0  0.0  0.0  NaN
OO       5.0  0.0  2.0  0.0  5.0  3.0  3.0  1.0  2.0
UA       1.0  0.0  6.0  0.0  1.0  0.0  6.0  0.0  5.0
US       0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
VX       NaN  NaN  NaN  0.0  0.0  NaN  0.0  NaN  1.0
WN       2.0  NaN  NaN  7.0  2.0  0.0  NaN  3.0  0.0

## 3개 이상의 컬럼을 grouping해서 집계
- 항공사/월/출발공항코드 별 취소 총수 
- grouping할 컬럼
    - AIRLINE:항공사
    - MONTH:월
    - ORG_AIR: 출발지 공항
- 집계 대상컬럼
    - CANCELLED: 취소여부
- 집계 : sum

In [150]:
# index 3 개-> 일부 col 옮기자. 

flights.groupby(['AIRLINE','MONTH','ORG_AIR'])['CANCELLED'].sum()

AIRLINE  MONTH  ORG_AIR
AA       1      ATL        0
                DEN        0
                DFW        8
                IAH        0
                LAS        0
                          ..
WN       12     LAS        1
                LAX        2
                MSP        0
                PHX        0
                SFO        0
Name: CANCELLED, Length: 1133, dtype: int64

In [165]:
re = flights.pivot_table(values='CANCELLED', index = ['AIRLINE','ORG_AIR'], columns='MONTH', aggfunc ='sum', margins = True)

re.to_csv('data/flights_stat.csv')
re

# 인덱스 별 전체 집계, 컬럼 별 전체 집계 이렇게 두 개 나옴.

MONTH                1      2     3     4     5      6     7     8     9  \
AIRLINE ORG_AIR
AA      ATL        0.0    2.0   1.0   0.0   0.0    0.0   0.0   0.0   0.0
        DEN        0.0    1.0   0.0   0.0   2.0    0.0   0.0   0.0   0.0
        DFW        8.0   33.0  13.0   4.0   8.0    7.0   1.0   2.0   1.0
        IAH        0.0    1.0   0.0   0.0   1.0    0.0   0.0   1.0   0.0
        LAS        0.0    2.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
        LAX        1.0    3.0   1.0   0.0   0.0    0.0   0.0   2.0   1.0
        MSP        0.0    0.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
        ORD        0.0    7.0   1.0   5.0   2.0    4.0   3.0   3.0   0.0
        PHX        0.0    1.0   0.0   0.0   0.0    0.0   2.0   1.0   0.0
        SFO        0.0    1.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
AS      ATL        NaN    0.0   0.0   0.0   0.0    NaN   NaN   0.0   NaN
        DEN        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        DFW        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        IAH        0.0    NaN   NaN   0.0   0.0    0.0   0.0   NaN   0.0
        LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        MSP        0.0    NaN   0.0   NaN   0.0    0.0   NaN   NaN   0.0
        ORD        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        SFO        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
B6      DEN        0.0    0.0   0.0   0.0   0.0    0.0   NaN   0.0   0.0
        DFW        0.0    0.0   NaN   0.0   0.0    0.0   NaN   0.0   0.0
        LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        ORD        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    0.0   0.0   0.0   NaN    NaN   NaN   NaN   NaN
        SFO        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
DL      ATL        6.0   10.0   4.0   3.0   1.0    2.0   1.0   0.0   0.0
        DEN        0.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        DFW        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        IAH        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAS        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        MSP        2.0    1.0   1.0   0.0   0.0    0.0   0.0   0.0   0.0
        ORD        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        SFO        0.0    0.0   2.0   0.0   0.0    0.0   0.0   0.0   0.0
EV      ATL        1.0    6.0   4.0   1.0   1.0    1.0   2.0   0.0   0.0
        DEN        2.0    2.0   0.0   1.0   0.0    1.0   NaN   NaN   NaN
        DFW        2.0    4.0   6.0   2.0   5.0    3.0   1.0   0.0   0.0
        IAH        1.0    4.0   2.0   4.0  12.0    7.0   1.0   3.0   0.0
        MSP        1.0    1.0   1.0   0.0   0.0    1.0   0.0   0.0   1.0
        ORD        2.0   10.0   3.0   4.0   4.0   10.0   2.0   2.0   0.0
        PHX        NaN    NaN   NaN   NaN   NaN    NaN   NaN   0.0   NaN
F9      ATL        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        DEN        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        DFW        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        IAH        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAS        0.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        LAX        NaN    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        MSP        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        ORD        1.0    1.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        SFO        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
HA      LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   NaN
        LAX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    0.0   0.0   0.0   NaN    NaN   0.0   0.0   0.0
        SFO        0.0    0.0   0.0   NaN   0.0    0.0   0.0   0.0   0.0
MQ      ATL        0.0    0.0   0.0   0.0   0.0    2.0   1.0   2.0   0.0
        DFW        8.0   25.0  15.0   1.0   9.0    2.0   0.0   0.0   0.0
        IAH        NaN    NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN
        LAX        NaN    NaN   0.0   NaN   NaN    0.0   0.0   NaN   NaN
        MSP        0.0    0.0   NaN   NaN   0.0    NaN   NaN   NaN   NaN
        ORD       16.0   16.0   7.0   4.0   5.0    9.0   3.0   6.0   4.0
NK      ATL        0.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        DEN        0.0    1.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        DFW        0.0    3.0   1.0   0.0   0.0    1.0   0.0   0.0   0.0
        IAH        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        0.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        MSP        0.0    1.0   0.0   0.0   0.0    2.0   0.0   0.0   0.0
        ORD        1.0    0.0   1.0   1.0   1.0    2.0   2.0   1.0   0.0
        PHX        0.0    0.0   0.0   0.0   0.0    0.0   0.0   1.0   0.0
OO      ATL        0.0    0.0   0.0   0.0   0.0    2.0   0.0   0.0   0.0
        DEN        3.0    8.0   1.0   3.0   5.0    2.0   1.0   1.0   0.0
        DFW        0.0    1.0   0.0   1.0   0.0    0.0   0.0   0.0   0.0
        IAH        1.0    1.0   1.0   0.0   4.0    0.0   1.0   1.0   0.0
        LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        1.0    0.0   1.0   4.0   0.0    1.0   6.0   1.0   0.0
        MSP        1.0    0.0   0.0   0.0   1.0    1.0   0.0   0.0   0.0
        ORD        4.0    4.0   6.0   1.0   2.0    6.0   4.0   3.0   0.0
        PHX        1.0    0.0   0.0   1.0   0.0    1.0   0.0   4.0   1.0
        SFO        5.0    7.0   2.0   1.0   1.0    2.0   2.0   0.0   1.0
UA      ATL        1.0    0.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
        DEN        1.0    1.0   0.0   0.0   0.0    2.0   2.0   0.0   0.0
        DFW        0.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        IAH        1.0    4.0   3.0   3.0   2.0    4.0   3.0   0.0   0.0
        LAS        0.0    0.0   0.0   0.0   0.0    1.0   0.0   1.0   0.0
        LAX        0.0    0.0   1.0   1.0   1.0    2.0   0.0   0.0   1.0
        MSP        1.0    0.0   0.0   0.0   1.0    0.0   0.0   0.0   0.0
        ORD        3.0    6.0   0.0   2.0   0.0    5.0   1.0   2.0   2.0
        PHX        0.0    0.0   1.0   0.0   0.0    2.0   0.0   0.0   0.0
        SFO        4.0    2.0   2.0   0.0   1.0    7.0   1.0   0.0   0.0
US      ATL        0.0    0.0   0.0   0.0   0.0    0.0   NaN   NaN   NaN
        DEN        0.0    0.0   0.0   0.0   0.0    0.0   NaN   NaN   NaN
        DFW        1.0    1.0   0.0   0.0   0.0    0.0   NaN   NaN   NaN
        IAH        1.0    0.0   0.0   0.0   1.0    0.0   NaN   NaN   NaN
        LAS        0.0    0.0   1.0   0.0   0.0    0.0   NaN   NaN   NaN
        LAX        0.0    0.0   0.0   0.0   0.0    0.0   NaN   NaN   NaN
        MSP        0.0    0.0   0.0   0.0   0.0    0.0   NaN   NaN   NaN
        ORD        0.0    2.0   3.0   0.0   1.0    0.0   NaN   NaN   NaN
        PHX        2.0    3.0   1.0   1.0   0.0    0.0   NaN   NaN   NaN
        SFO        1.0    0.0   2.0   0.0   0.0    0.0   NaN   NaN   NaN
VX      LAS        0.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        LAX        0.0    2.0   0.0   1.0   0.0    0.0   0.0   0.0   0.0
        ORD        0.0    0.0   NaN   0.0   0.0    0.0   0.0   0.0   0.0
        SFO        1.0    1.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
WN      ATL        3.0    3.0   1.0   0.0   0.0    1.0   0.0   0.0   0.0
        DEN        0.0    3.0   0.0   4.0   1.0    1.0   0.0   0.0   0.0
        LAS        1.0    1.0   1.0   0.0   0.0    0.0   1.0   1.0   0.0
        LAX        3.0    2.0   3.0   2.0   1.0    0.0   9.0   4.0   3.0
        MSP        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    2.0   1.0   1.0   0.0    0.0   1.0   0.0   0.0
        SFO        4.0    5.0   0.0   2.0   2.0    6.0   0.0   2.0   2.0
All              104.0  195.0  94.0  58.0  81.0  100.0  56.0  44.0  17.0

MONTH              11    12  All
AIRLINE ORG_AIR
AA      ATL       0.0   0.0    3
        DEN       0.0   1.0    4
        DFW       3.0   6.0   86
        IAH       0.0   0.0    3
        LAS       0.0   0.0    3
        LAX       1.0   2.0   11
        MSP       1.0   1.0    3
        ORD       6.0   4.0   35
        PHX       0.0   0.0    4
        SFO       0.0   0.0    2
AS      ATL       0.0   0.0    0
        DEN       0.0   0.0    0
        DFW       0.0   0.0    0
        IAH       NaN   0.0    0
        LAS       0.0   0.0    0
        LAX       0.0   0.0    0
        MSP       0.0   0.0    0
        ORD       0.0   0.0    0
        PHX       0.0   0.0    0
        SFO       0.0   0.0    0
B6      DEN       0.0   0.0    0
        DFW       0.0   0.0    0
        LAS       0.0   0.0    0
        LAX       0.0   0.0    0
        ORD       0.0   0.0    0
        PHX       0.0   0.0    0
        SFO       0.0   0.0    1
DL      ATL       0.0   1.0   28
        DEN       0.0   0.0    1
        DFW       0.0   0.0    0
        IAH       0.0   0.0    0
        LAS       0.0   0.0    1
        LAX       0.0   0.0    1
        MSP       0.0   0.0    4
        ORD       0.0   0.0    0
        PHX       0.0   0.0    1
        SFO       0.0   0.0    2
EV      ATL       0.0   2.0   18
        DEN       NaN   NaN    6
        DFW       0.0   4.0   27
        IAH       1.0   1.0   36
        MSP       0.0   1.0    6
        ORD       7.0   9.0   53
        PHX       NaN   NaN    0
F9      ATL       0.0   0.0    0
        DEN       0.0   1.0    2
        DFW       0.0   0.0    1
        IAH       0.0   0.0    0
        LAS       0.0   0.0    1
        LAX       0.0   0.0    1
        MSP       0.0   0.0    1
        ORD       1.0   1.0    4
        PHX       0.0   0.0    0
        SFO       0.0   0.0    0
HA      LAS       0.0   NaN    0
        LAX       0.0   0.0    0
        PHX       0.0   0.0    0
        SFO       0.0   NaN    0
MQ      ATL       NaN   NaN    5
        DFW       0.0   2.0   62
        IAH       NaN   0.0    0
        LAX       NaN   NaN    0
        MSP       NaN   NaN    0
        ORD       6.0   9.0   85
NK      ATL       0.0   0.0    1
        DEN       0.0   0.0    1
        DFW       0.0   1.0    6
        IAH       0.0   0.0    0
        LAS       1.0   0.0    1
        LAX       0.0   0.0    1
        MSP       0.0   0.0    3
        ORD       0.0   1.0   10
        PHX       1.0   0.0    2
OO      ATL       1.0   0.0    3
        DEN       1.0   0.0   25
        DFW       0.0   0.0    2
        IAH       0.0   1.0   10
        LAS       0.0   0.0    0
        LAX       0.0   1.0   15
        MSP       1.0   0.0    4
        ORD       6.0   5.0   41
        PHX       0.0   1.0    9
        SFO       0.0  12.0   33
UA      ATL       0.0   0.0    2
        DEN       1.0   2.0    9
        DFW       0.0   0.0    1
        IAH       0.0   3.0   23
        LAS       0.0   1.0    3
        LAX       0.0   0.0    6
        MSP       0.0   0.0    2
        ORD       1.0   3.0   25
        PHX       0.0   0.0    3
        SFO       1.0   1.0   19
US      ATL       NaN   NaN    0
        DEN       NaN   NaN    0
        DFW       NaN   NaN    2
        IAH       NaN   NaN    2
        LAS       NaN   NaN    1
        LAX       NaN   NaN    0
        MSP       NaN   NaN    0
        ORD       NaN   NaN    6
        PHX       NaN   NaN    7
        SFO       NaN   NaN    3
VX      LAS       0.0   0.0    0
        LAX       0.0   0.0    3
        ORD       0.0   0.0    0
        SFO       0.0   0.0    3
WN      ATL       1.0   0.0    9
        DEN       3.0   1.0   13
        LAS       1.0   1.0    7
        LAX       3.0   2.0   32
        MSP       0.0   0.0    1
        PHX       1.0   0.0    6
        SFO       2.0   0.0   25
All              51.0  81.0  881

In [164]:
flights['CANCELLED'].sum() # => 전체 집계

881

In [158]:
# 변수라 바꿀 수 있음.

# 사실 데이터 많으면 직접 데이터 보는 게 의미가 없다.
# 통계치를 보는 거지. 

# ~ 행 이상부터 줄이겠다. 
pd.options.display.max_rows = 200 # 200행으로
pd.options.display.max_columns = 60

## 3개 이상의 컬럼을 grouping해서 집계 2
- 항공사/월/출발공항코드 별 최대/최소 연착시간
- grouping할 컬럼
    - AIRLINE:항공사
    - MONTH:월
    - ORG_AIR: 출발지 공항
- 집계 대상컬럼
    - ARR_DELAY: 연착시간
- 집계 : min, max

In [160]:
flights.groupby(['AIRLINE','MONTH','ORG_AIR'])['ARR_DELAY'].agg(['min','max'])

                        min    max
AIRLINE MONTH ORG_AIR
AA      1     ATL     -27.0   26.0
              DEN     -13.0   78.0
              DFW     -39.0  287.0
              IAH     -23.0   63.0
              LAS     -32.0  732.0
...                     ...    ...
WN      12    LAS     -52.0   96.0
              LAX     -30.0  493.0
              MSP     -23.0   90.0
              PHX     -30.0  254.0
              SFO     -20.0  215.0

[1133 rows x 2 columns]

In [162]:
flights.pivot_table(values= 'ARR_DELAY',
                    index = ['AIRLINE','ORG_AIR'],
                    columns = 'MONTH',
                    aggfunc = ['min','max'],
                    margins = True)

                   min                                                         \
MONTH                1     2     3     4      5     6     7     8     9    11
AIRLINE ORG_AIR
AA      ATL      -27.0 -26.0 -32.0 -30.0  -26.0 -23.0 -27.0 -32.0 -33.0 -33.0
        DEN      -13.0 -17.0 -19.0 -28.0  -20.0 -13.0 -30.0 -27.0 -27.0 -27.0
        DFW      -39.0 -29.0 -29.0 -37.0  -36.0 -33.0 -32.0 -32.0 -33.0 -45.0
        IAH      -23.0 -27.0 -13.0 -27.0  -19.0 -13.0 -19.0 -30.0 -31.0 -14.0
        LAS      -32.0 -25.0 -24.0 -19.0  -31.0 -27.0 -40.0 -28.0 -32.0 -31.0
        LAX      -42.0 -41.0 -31.0 -40.0  -41.0 -39.0 -42.0 -49.0 -38.0 -37.0
        MSP      -34.0 -32.0 -38.0 -10.0  -15.0 -17.0 -26.0 -22.0 -28.0 -33.0
        ORD      -38.0 -34.0 -34.0 -52.0  -32.0 -43.0 -35.0 -36.0 -46.0 -50.0
        PHX      -15.0 -16.0 -24.0 -22.0  -17.0 -26.0 -26.0 -26.0 -27.0 -35.0
        SFO      -20.0 -31.0 -31.0 -33.0  -45.0 -33.0 -46.0 -39.0 -38.0 -29.0
AS      ATL        NaN  -5.0 -15.0  -5.0  -44.0   NaN   NaN  69.0   NaN -13.0
        DEN      -17.0 -21.0 -28.0 -14.0  -13.0 -12.0 -25.0 -22.0  -1.0 -38.0
        DFW      -29.0 -23.0 -38.0 -19.0  -27.0 -29.0 -13.0 -10.0 -20.0 -23.0
        IAH        8.0   NaN   NaN -10.0   23.0   4.0  -6.0   NaN   1.0   NaN
        LAS      -31.0 -35.0 -30.0 -35.0  -13.0 -20.0 -26.0 -20.0 -16.0 -31.0
        LAX      -21.0 -45.0 -22.0 -34.0  -22.0 -30.0 -21.0 -21.0 -28.0 -35.0
        MSP        5.0   NaN  14.0   NaN   -4.0  -8.0   NaN   NaN   7.0 -23.0
        ORD      -28.0  -7.0 -12.0 -26.0  -27.0 -24.0 -21.0 -20.0 -14.0   2.0
        PHX      -57.0 -34.0 -12.0 -23.0  -23.0 -20.0 -13.0 -26.0 -21.0 -33.0
        SFO      -28.0  -8.0 -25.0 -34.0  -25.0 -28.0 -28.0 -22.0 -18.0 -16.0
B6      DEN       -4.0   0.0 -11.0 -12.0  -26.0  22.0   NaN -19.0 -14.0 -17.0
        DFW       -1.0   9.0   NaN  -4.0  -21.0 -15.0   NaN  63.0 -14.0  -2.0
        LAS      -27.0 -15.0 -24.0 -24.0  -23.0 -28.0 -45.0 -39.0 -20.0 -23.0
        LAX      -15.0 -22.0  -8.0 -23.0  -43.0 -37.0 -33.0 -51.0 -27.0 -29.0
        ORD      -22.0  29.0 -27.0 -24.0  -39.0  -3.0 -31.0 -20.0 -15.0 -13.0
        PHX       -5.0 -13.0  -9.0  -8.0    NaN   NaN   NaN   NaN   NaN -11.0
        SFO      -26.0 -28.0 -37.0 -26.0  -31.0 -29.0 -38.0 -37.0 -26.0 -24.0
DL      ATL      -37.0 -33.0 -35.0 -53.0  -32.0 -33.0 -38.0 -37.0 -33.0 -57.0
        DEN      -36.0 -16.0 -29.0 -22.0  -31.0 -34.0 -21.0 -23.0 -20.0 -27.0
        DFW      -31.0 -14.0 -15.0 -23.0  -15.0 -20.0 -27.0 -26.0 -24.0 -21.0
        IAH      -20.0 -26.0 -23.0 -24.0  -16.0 -32.0 -21.0 -23.0 -30.0 -22.0
        LAS      -21.0 -25.0 -32.0 -29.0  -44.0 -29.0 -38.0 -33.0 -24.0 -24.0
        LAX      -30.0 -36.0 -28.0 -36.0  -37.0 -25.0 -40.0 -47.0 -28.0 -44.0
        MSP      -53.0 -48.0 -38.0 -35.0  -31.0 -30.0 -36.0 -28.0 -30.0 -40.0
        ORD      -30.0 -29.0 -21.0 -26.0  -28.0 -25.0 -23.0 -28.0 -18.0 -19.0
        PHX      -27.0 -32.0 -21.0 -29.0  -33.0 -31.0 -24.0 -33.0 -36.0 -33.0
        SFO      -29.0 -23.0 -36.0 -34.0  -34.0 -22.0 -31.0 -32.0 -31.0 -46.0
EV      ATL      -22.0 -28.0 -30.0 -24.0  -30.0 -20.0 -29.0 -21.0 -25.0 -22.0
        DEN      -34.0 -21.0 -29.0 -38.0  -13.0 -21.0   NaN   NaN   NaN   NaN
        DFW      -21.0 -14.0 -19.0 -22.0  -28.0 -22.0 -21.0 -27.0 -27.0 -27.0
        IAH      -26.0 -28.0 -24.0 -33.0  -33.0 -22.0 -26.0 -35.0 -32.0 -30.0
        MSP      -33.0 -30.0 -28.0 -26.0  -34.0 -26.0 -25.0 -16.0 -19.0 -24.0
        ORD      -26.0 -28.0 -32.0 -25.0  -28.0 -27.0 -39.0 -26.0 -27.0 -31.0
        PHX        NaN   NaN   NaN   NaN    NaN   NaN   NaN -14.0   NaN   NaN
F9      ATL        7.0 -20.0  -2.0 -19.0  -18.0 -14.0 -14.0 -24.0 -26.0 -19.0
        DEN      -21.0 -33.0 -28.0 -26.0  -27.0 -25.0 -21.0 -29.0 -32.0 -24.0
        DFW      -12.0   2.0   8.0 -11.0  -22.0  -2.0 -12.0 -14.0 -26.0 -11.0
        IAH      -23.0 -22.0  -9.0 -17.0  -30.0 -17.0  -6.0 -11.0 -26.0  -9.0
        LAS      -23.0 -13.0  -8.0 -18.0  -16.0 -12.0  -9.0 -17.0 -28.0 -32.0
        LAX        NaN   2.0 -19.0 -16.0  -18.0  -8.0 -27.0 -24.0 -24.0 -10.0
        MSP      -13.0 -13.0 -13.0 -15.0  -13.0 -10.0 -10.0 -10.0 -27.0  -1.0
        ORD        6.0 -16.0  -9.0 -36.0  -14.0 -19.0 -14.0 -22.0 -35.0 -18.0
        PHX      -20.0   7.0 -22.0 -20.0  -18.0 -15.0 -11.0 -15.0 -18.0 -15.0
        SFO      -12.0 -13.0 -12.0 -23.0  -22.0 -15.0 -24.0 -20.0  -9.0 -10.0
HA      LAS       -2.0  -1.0  -1.0 -12.0   -2.0 -16.0 -10.0  12.0   NaN   4.0
        LAX      -27.0 -26.0 -16.0  -4.0    7.0 -17.0 -34.0 -16.0 -29.0 -31.0
        PHX       -7.0  -9.0 -10.0  -7.0    NaN   NaN  -3.0  31.0  18.0   0.0
        SFO       -6.0   4.0  -2.0   NaN  -12.0  19.0  -7.0  19.0  17.0   0.0
MQ      ATL      -19.0 -14.0 -20.0   1.0  -23.0 -23.0 -16.0 -26.0 -11.0   NaN
        DFW      -26.0 -18.0 -18.0 -25.0  -28.0 -25.0 -32.0 -28.0 -23.0 -26.0
        IAH        NaN   NaN   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN
        LAX        NaN   NaN   1.0   NaN    NaN  -2.0  56.0   NaN   NaN   NaN
        MSP      111.0  25.0   NaN   NaN  108.0   NaN   NaN   NaN   NaN   NaN
        ORD      -21.0 -24.0 -33.0 -36.0  -35.0 -30.0 -33.0 -31.0 -35.0 -37.0
NK      ATL      -14.0 -18.0  -5.0 -10.0  -14.0  -8.0 -18.0 -15.0 -11.0 -14.0
        DEN      -22.0 -10.0 -22.0 -19.0  -24.0  -8.0 -12.0 -22.0 -22.0 -30.0
        DFW      -36.0 -29.0 -30.0 -19.0  -29.0 -12.0 -23.0 -21.0 -26.0 -18.0
        IAH      -16.0 -22.0  -9.0 -27.0  -12.0  -6.0 -18.0 -24.0 -19.0 -18.0
        LAS      -27.0 -24.0 -35.0 -19.0  -39.0 -20.0 -34.0 -19.0 -19.0 -25.0
        LAX      -17.0 -31.0 -18.0 -19.0  -22.0 -12.0 -15.0 -14.0 -29.0 -23.0
        MSP      -29.0 -17.0  -8.0 -26.0  -25.0  -5.0   4.0  -2.0 -16.0 -34.0
        ORD      -18.0 -19.0 -22.0 -24.0  -20.0 -19.0 -25.0 -20.0 -24.0 -25.0
        PHX      -14.0 -11.0 -12.0 -13.0  -18.0 -12.0  -4.0 -10.0 -18.0 -19.0
OO      ATL      -15.0 -12.0 -19.0 -14.0  -24.0 -21.0 -11.0 -10.0 -24.0 -14.0
        DEN      -32.0 -23.0 -30.0 -26.0  -26.0 -20.0 -25.0 -23.0 -26.0 -30.0
        DFW      -20.0  -3.0 -16.0 -17.0  -24.0 -15.0 -21.0 -20.0  -7.0 -26.0
        IAH      -39.0 -31.0 -27.0 -22.0  -28.0 -16.0 -27.0 -39.0 -23.0 -22.0
        LAS      -20.0 -20.0 -24.0 -20.0  -24.0 -27.0 -29.0 -16.0 -17.0 -17.0
        LAX      -23.0 -27.0 -44.0 -24.0  -23.0 -26.0 -27.0 -20.0 -26.0 -27.0
        MSP      -30.0 -36.0 -25.0 -27.0  -29.0 -29.0 -25.0 -22.0 -23.0 -31.0
        ORD      -24.0 -21.0 -40.0 -37.0  -33.0 -29.0 -28.0 -21.0 -21.0 -23.0
        PHX      -18.0 -16.0 -23.0 -23.0  -28.0 -27.0 -28.0 -28.0 -22.0 -19.0
        SFO      -21.0 -28.0 -22.0 -25.0  -28.0 -25.0 -29.0 -24.0 -32.0 -30.0
UA      ATL      -28.0 -33.0 -11.0 -47.0  -30.0 -37.0 -27.0 -23.0 -27.0 -28.0
        DEN      -33.0 -34.0 -34.0 -32.0  -31.0 -41.0 -39.0 -40.0 -42.0 -39.0
        DFW      -23.0  -9.0 -30.0 -26.0  -16.0 -22.0 -26.0 -33.0 -29.0 -24.0
        IAH      -33.0 -41.0 -47.0 -39.0  -35.0 -39.0 -37.0 -30.0 -27.0 -38.0
        LAS      -23.0 -33.0 -28.0 -38.0  -48.0 -36.0 -34.0 -29.0 -34.0 -31.0
        LAX      -26.0 -58.0 -29.0 -48.0  -41.0 -36.0 -34.0 -34.0 -48.0 -48.0
        MSP      -25.0 -21.0 -24.0 -22.0  -22.0 -26.0 -26.0 -23.0 -15.0 -30.0
        ORD      -37.0 -28.0 -43.0 -31.0  -36.0 -48.0 -32.0 -34.0 -36.0 -38.0
        PHX      -32.0 -19.0 -26.0 -42.0  -38.0 -27.0 -34.0 -32.0 -21.0 -39.0
        SFO      -34.0 -39.0 -37.0 -45.0  -42.0 -32.0 -37.0 -40.0 -35.0 -39.0
US      ATL      -46.0 -10.0 -41.0 -24.0  -33.0 -23.0   NaN   NaN   NaN   NaN
        DEN      -17.0 -14.0 -25.0 -25.0  -15.0 -28.0   NaN   NaN   NaN   NaN
        DFW      -19.0 -32.0 -24.0 -20.0  -23.0  -8.0   NaN   NaN   NaN   NaN
        IAH      -17.0 -21.0 -21.0  -8.0  -16.0 -18.0   NaN   NaN   NaN   NaN
        LAS      -26.0 -23.0 -20.0 -48.0  -40.0 -27.0   NaN   NaN   NaN   NaN
        LAX      -13.0 -19.0 -27.0 -39.0  -51.0 -41.0   NaN   NaN   NaN   NaN
        MSP      -24.0 -35.0 -33.0 -20.0  -21.0 -20.0   NaN   NaN   NaN   NaN
        ORD      -30.0 -17.0 -20.0 -37.0  -31.0 -50.0   NaN   NaN   NaN   NaN
        PHX      -23.0 -42.0 -33.0 -36.0  -31.0 -28.0   NaN   NaN   NaN   NaN
        SFO      -37.0 -23.0 -20.0 -20.0  -23.0 -14.0   NaN   NaN   NaN   NaN
VX      LAS      -17.0 -15.0 -24.0 -17.0  -18.0 -20.0 -25.0 -20.0 -14.0 -19.0
        LAX      -20.0 -22.0 -18.0 -26.0  -38.0 -23.0 -32.0 -15.0 -28.0 -40.0
        ORD       58.0  54.0   NaN  -3.0  -21.0 -13.0 -17.0  -3.0   6.0 -11.0
        SFO      -23.0 -21.0 -31.0 -51.0  -24.0 -20.0 -39.0 -39.0 -35.0 -30.0
WN      ATL      -44.0 -32.0 -44.0 -29.0  -31.0 -36.0 -39.0 -32.0 -33.0 -33.0
        DEN      -33.0 -35.0 -31.0 -29.0  -35.0 -35.0 -24.0 -27.0 -36.0 -32.0
        LAS      -25.0 -33.0 -28.0 -38.0  -32.0 -31.0 -24.0 -24.0 -33.0 -40.0
        LAX      -25.0 -27.0 -25.0 -37.0  -26.0 -30.0 -25.0 -20.0 -30.0 -28.0
        MSP      -38.0 -32.0 -30.0 -33.0  -24.0 -24.0 -28.0 -21.0 -23.0 -29.0
        PHX      -38.0 -45.0 -24.0 -43.0  -27.0 -25.0 -29.0 -24.0 -25.0 -41.0
        SFO      -19.0 -24.0 -29.0 -29.0  -22.0 -26.0 -30.0 -22.0 -33.0 -23.0
All              -57.0 -58.0 -47.0 -53.0  -51.0 -50.0 -46.0 -51.0 -48.0 -57.0

                               max                                            \
MONTH              12   All      1      2      3      4      5      6      7
AIRLINE ORG_AIR
AA      ATL     -31.0 -33.0   26.0   16.0   25.0  115.0   25.0  159.0  319.0
        DEN     -40.0 -40.0   78.0   40.0   53.0  105.0  330.0   10.0   67.0
        DFW     -42.0 -45.0  287.0  311.0  234.0  275.0  285.0  602.0  203.0
        IAH     -15.0 -31.0   63.0   51.0   97.0  127.0  131.0  456.0  858.0
        LAS     -33.0 -40.0  732.0   20.0  111.0  626.0   54.0  206.0  157.0
        LAX     -45.0 -49.0   85.0  162.0  223.0  145.0  115.0  272.0  725.0
        MSP     -41.0 -41.0  106.0   95.0    3.0   20.0   76.0  125.0   40.0
        ORD     -41.0 -52.0  343.0  208.0  248.0  158.0  214.0  352.0  393.0
        PHX     -60.0 -60.0  117.0   81.0   87.0   82.0  339.0   55.0  215.0
        SFO     -37.0 -46.0   93.0  223.0  160.0   37.0   35.0  130.0  229.0
AS      ATL      -5.0 -44.0    NaN   -1.0  -15.0   -5.0   34.0    NaN    NaN
        DEN     -24.0 -38.0    7.0  -10.0  -19.0    0.0   65.0   52.0   36.0
        DFW      -6.0 -38.0   -2.0    9.0    7.0    2.0   78.0   26.0   -2.0
        IAH     -12.0 -12.0    8.0    NaN    NaN  -10.0   23.0    4.0   -6.0
        LAS     -35.0 -35.0  148.0  344.0   47.0   24.0  129.0   23.0    5.0
        LAX     -25.0 -45.0   22.0   86.0   69.0   14.0    9.0   79.0   23.0
        MSP      -8.0 -23.0   17.0    NaN   14.0    NaN   25.0   -5.0    NaN
        ORD     -45.0 -45.0   26.0   45.0    5.0   43.0   42.0    2.0   28.0
        PHX     -25.0 -57.0   -3.0  -10.0   12.0  -10.0   61.0    9.0    1.0
        SFO     -24.0 -34.0   70.0  264.0   30.0   37.0   47.0   31.0   59.0
B6      DEN      20.0 -26.0   -1.0   42.0   63.0   13.0  -26.0   49.0    NaN
        DFW     -26.0 -26.0    7.0   40.0    NaN   -4.0   22.0    1.0    NaN
        LAS     -22.0 -45.0  171.0   58.0  142.0   13.0   13.0  100.0  107.0
        LAX     -27.0 -51.0   42.0   71.0   32.0   16.0   17.0   29.0   50.0
        ORD     -20.0 -39.0   48.0  149.0   66.0  -13.0  164.0   67.0  331.0
        PHX     -45.0 -45.0   15.0  184.0   -9.0  123.0    NaN    NaN    NaN
        SFO     -24.0 -38.0   27.0   90.0  103.0  108.0   29.0   50.0   82.0
DL      ATL     -44.0 -57.0  487.0  263.0  529.0  184.0  692.0  467.0  208.0
        DEN     -28.0 -36.0   45.0   21.0   54.0   63.0   53.0   18.0   38.0
        DFW     -19.0 -31.0    6.0   51.0   30.0   98.0   73.0  166.0  266.0
        IAH     -29.0 -32.0  103.0   37.0   31.0    9.0  469.0  158.0  121.0
        LAS     -33.0 -44.0  139.0  141.0  127.0    8.0  157.0   93.0   25.0
        LAX     -32.0 -47.0   58.0  108.0   69.0  269.0  169.0  130.0  251.0
        MSP     -35.0 -53.0   95.0   92.0  354.0  283.0  263.0  124.0  281.0
        ORD     -24.0 -30.0   67.0  141.0  139.0  127.0  179.0  223.0   74.0
        PHX     -39.0 -39.0   19.0  106.0  104.0   17.0   16.0   44.0  247.0
        SFO     -31.0 -46.0   24.0   70.0  119.0   18.0   86.0   61.0   81.0
EV      ATL     -33.0 -33.0  180.0  246.0  162.0  216.0  158.0  318.0  171.0
        DEN       NaN -38.0  224.0   82.0  134.0  669.0   93.0  235.0    NaN
        DFW     -27.0 -28.0  117.0  244.0  274.0  214.0  297.0  167.0  187.0
        IAH     -30.0 -35.0  106.0  216.0  105.0  196.0  292.0  165.0  123.0
        MSP     -30.0 -34.0  240.0   57.0  205.0   41.0   84.0   59.0   99.0
        ORD     -27.0 -39.0  209.0  164.0  531.0  387.0   88.0  214.0  235.0
        PHX       NaN -14.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
F9      ATL     -43.0 -43.0  138.0   77.0  272.0   47.0   64.0  112.0  108.0
        DEN     -33.0 -33.0  225.0  286.0   81.0  198.0  266.0  149.0  155.0
        DFW     -12.0 -26.0  -12.0  839.0   74.0   21.0   84.0   33.0   -1.0
        IAH     -24.0 -30.0  -10.0   15.0   79.0   10.0   14.0   30.0    6.0
        LAS     -30.0 -32.0   68.0  142.0   55.0   79.0   74.0  143.0   87.0
        LAX      -9.0 -27.0    NaN   25.0  -19.0   55.0   72.0   28.0   -5.0
        MSP     -24.0 -27.0  110.0  -13.0    2.0    7.0  282.0   52.0  416.0
        ORD     -35.0 -36.0   45.0   66.0  185.0   54.0  152.0  164.0  223.0
        PHX     -16.0 -22.0   40.0   56.0   96.0   29.0   36.0   63.0  -11.0
        SFO     -18.0 -24.0   48.0   29.0   65.0  220.0   70.0    6.0   82.0
HA      LAS       NaN -16.0   29.0   26.0   -1.0   -6.0    0.0  200.0   25.0
        LAX     -44.0 -44.0   10.0  -18.0   21.0   -4.0   27.0    2.0   -2.0
        PHX     -34.0 -34.0    3.0   10.0   11.0   23.0    NaN    NaN   -3.0
        SFO       NaN -12.0   16.0    4.0   29.0    NaN   34.0   19.0    1.0
MQ      ATL       NaN -26.0  186.0   35.0   94.0   77.0   63.0   64.0  120.0
        DFW     -30.0 -32.0  234.0  305.0  187.0  185.0  126.0  333.0  106.0
        IAH      -4.0  -4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
        LAX       NaN  -2.0    NaN    NaN    1.0    NaN    NaN    5.0  103.0
        MSP       NaN  25.0  111.0   45.0    NaN    NaN  108.0    NaN    NaN
        ORD     -32.0 -37.0  357.0  301.0  271.0  225.0  197.0  130.0  120.0
NK      ATL      -8.0 -18.0  131.0   67.0   52.0   57.0  107.0  141.0   41.0
        DEN     -22.0 -30.0   54.0  130.0   47.0   18.0  204.0  185.0    9.0
        DFW     -15.0 -36.0   45.0   55.0   97.0  208.0  238.0  185.0  369.0
        IAH     -16.0 -27.0  111.0   16.0   98.0  212.0  244.0  116.0   46.0
        LAS     -30.0 -39.0  120.0   82.0  138.0   50.0  127.0  210.0  141.0
        LAX     -20.0 -31.0  406.0    1.0  194.0  291.0  194.0  227.0   49.0
        MSP     -20.0 -34.0  102.0  103.0   45.0  192.0  474.0   95.0   87.0
        ORD     -32.0 -32.0  156.0  114.0  143.0  238.0  244.0  280.0  143.0
        PHX     -21.0 -21.0   13.0   10.0   41.0   27.0   16.0  118.0   73.0
OO      ATL     -24.0 -24.0   55.0   79.0  239.0  113.0   59.0  212.0   66.0
        DEN     -28.0 -32.0  212.0  115.0  201.0  237.0  213.0  142.0  140.0
        DFW     -42.0 -42.0  109.0  154.0  -15.0   70.0  221.0  191.0   44.0
        IAH     -30.0 -39.0   86.0   27.0  251.0  241.0  189.0  199.0   63.0
        LAS       1.0 -29.0    1.0   52.0    4.0    7.0   12.0   -3.0   66.0
        LAX     -28.0 -44.0  171.0  156.0  147.0  208.0   93.0  211.0  189.0
        MSP     -32.0 -36.0  194.0  252.0  155.0   80.0   78.0  197.0   75.0
        ORD     -29.0 -40.0  209.0  231.0  293.0  159.0  114.0  204.0  172.0
        PHX     -24.0 -28.0   77.0  165.0  131.0  159.0   86.0  168.0  104.0
        SFO     -29.0 -32.0  200.0  220.0  141.0  130.0  305.0  102.0  180.0
UA      ATL     -19.0 -47.0   -9.0  137.0   24.0   78.0   56.0   71.0   90.0
        DEN     -44.0 -44.0  209.0  142.0  281.0  307.0  150.0  616.0  168.0
        DFW     -21.0 -33.0   80.0   49.0  222.0  130.0   -3.0   40.0  212.0
        IAH     -35.0 -47.0  207.0  149.0  589.0  334.0  399.0  274.0  220.0
        LAS     -31.0 -48.0   92.0   58.0  557.0  118.0  167.0  135.0  175.0
        LAX     -40.0 -58.0  169.0  223.0  149.0  218.0   75.0  177.0  443.0
        MSP     -30.0 -30.0    5.0    8.0   50.0   40.0   56.0  213.0   74.0
        ORD     -31.0 -48.0  385.0  409.0  191.0  215.0  495.0  242.0  489.0
        PHX     -32.0 -42.0   49.0   35.0  186.0  200.0  231.0   67.0   97.0
        SFO     -46.0 -46.0  500.0  129.0  179.0  172.0  110.0  130.0  125.0
US      ATL       NaN -46.0   -5.0   50.0   29.0   29.0  158.0   80.0    NaN
        DEN       NaN -28.0   35.0   65.0   35.0    7.0   60.0    9.0    NaN
        DFW       NaN -32.0   95.0   29.0  123.0   92.0   27.0  182.0    NaN
        IAH       NaN -21.0   35.0   30.0    7.0   29.0   32.0   28.0    NaN
        LAS       NaN -48.0   41.0   18.0   40.0   27.0   38.0   38.0    NaN
        LAX       NaN -51.0   72.0   43.0   47.0   56.0  431.0   27.0    NaN
        MSP       NaN -35.0   15.0   15.0   45.0   42.0  131.0    5.0    NaN
        ORD       NaN -50.0  115.0   22.0   81.0   19.0   16.0   76.0    NaN
        PHX       NaN -42.0  123.0  125.0   91.0   90.0  196.0  239.0    NaN
        SFO       NaN -37.0   20.0   16.0    9.0   96.0   77.0  172.0    NaN
VX      LAS     -35.0 -35.0   45.0  148.0   31.0   56.0   94.0    8.0  189.0
        LAX     -28.0 -40.0  105.0   36.0  224.0   23.0  109.0  215.0   44.0
        ORD     -25.0 -25.0   58.0   54.0    NaN  126.0   51.0    8.0   10.0
        SFO     -28.0 -51.0   87.0   54.0  156.0   93.0   99.0  147.0  177.0
WN      ATL     -32.0 -44.0  126.0  111.0  140.0  175.0  198.0  268.0  184.0
        DEN     -30.0 -36.0  131.0  106.0  375.0  192.0  261.0  152.0  235.0
        LAS     -52.0 -52.0  189.0  135.0  261.0  163.0  150.0  193.0  290.0
        LAX     -30.0 -37.0  179.0  190.0  104.0  165.0  244.0  244.0  248.0
        MSP     -23.0 -38.0  128.0   68.0   43.0   64.0   13.0   88.0   84.0
        PHX     -30.0 -45.0  114.0  159.0   78.0  130.0  203.0  168.0  171.0
        SFO     -20.0 -33.0   25.0  110.0  237.0   72.0  133.0  205.0   51.0
All             -60.0 -60.0  732.0  839.0  589.0  669.0  692.0  616.0  858.0


MONTH                8      9     11      12     All
AIRLINE ORG_AIR
AA      ATL       84.0  196.0  255.0   203.0   319.0
        DEN      257.0  152.0  146.0   106.0   330.0
        DFW      268.0  241.0  349.0   293.0   602.0
        IAH       95.0   73.0   98.0   103.0   858.0
        LAS      157.0   36.0   89.0   219.0   732.0
        LAX      185.0  162.0  144.0   473.0   725.0
        MSP       14.0   17.0  142.0    50.0   142.0
        ORD      206.0  311.0  280.0   473.0   473.0
        PHX      551.0  226.0  263.0   155.0   551.0
        SFO      406.0  324.0   69.0   120.0   406.0
AS      ATL       69.0    NaN  -13.0   106.0   106.0
        DEN        9.0   -1.0    8.0     2.0    65.0
        DFW       11.0    2.0   -2.0    12.0    78.0
        IAH        NaN    1.0    NaN   -12.0    23.0
        LAS       14.0   31.0   23.0     5.0   344.0
        LAX       90.0   67.0   51.0    15.0    90.0
        MSP        NaN    7.0   61.0    -8.0    61.0
        ORD       -7.0    7.0  297.0     7.0   297.0
        PHX        0.0   -6.0   54.0    28.0    61.0
        SFO       88.0   50.0  154.0    93.0   264.0
B6      DEN       36.0   29.0   -2.0   131.0   131.0
        DFW       63.0   13.0   19.0     5.0    63.0
        LAS       99.0  156.0   36.0   126.0   171.0
        LAX       37.0  105.0   86.0    75.0   105.0
        ORD       62.0   84.0    8.0   239.0   331.0
        PHX        NaN    NaN   -3.0    20.0   184.0
        SFO      131.0   14.0  165.0   184.0   184.0
DL      ATL      251.0  429.0  112.0   293.0   692.0
        DEN       59.0   12.0  112.0   243.0   243.0
        DFW      741.0   26.0  103.0   191.0   741.0
        IAH      106.0    8.0   -3.0    21.0   469.0
        LAS       31.0   39.0   60.0    65.0   157.0
        LAX       78.0   74.0  334.0   114.0   334.0

In [ ]:
# min 에 대한 총 집계 , max에 대한 총 집계

# apply() - Series, DataFrame의 데이터 일괄 처리

데이터프레임의 행들과 열들 또는 Series의 원소들에 공통된 처리를 할 때 apply 함수를 이용하면 반복문을 사용하지 않고 일괄 처리가 가능하다.

- DataFrame.apply(함수, axis=0, args=())
    - 인수로 행이나 열을 받는 함수를 apply 메서드의 인수로 넣으면 **데이터프레임의 행이나 열들을 하나씩 함수에 전달한다.
    
    - 매개변수
        - 함수: DataFrame의 행들 또는 열들을 전달할 함수
        - axis: **0-행을 전달, 1-열을 전달 (기본값 0)** G: 0이 행이다...
        - args: 행/열 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        
        
- Series.apply(함수, args=())
    - 인수로 Series의 원소들을 받는 함수를 apply 메소드의 인수로 넣으면  **Series의 원소들을 하나씩 함수로 전달한다.
    
    - 매개변수
        - 함수: Series의 원소들을 전달할 함수
        - args: 원소 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달

In [169]:
import numpy as np
import pandas as pd

arr = np.arange(24).reshape(6,4) # 2차원 배열 
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [175]:
df = pd.DataFrame(arr, columns = ["no1","no2","no3","no4"])
df

   no1  no2  no3  no4
0    0    1    2    3
1    4    5    6    7
2    8    9   10   11
3   12   13   14   15
4   16   17   18   19
5   20   21   22   23

In [179]:
# apply에 전달할 함수
def func(x):
    """
    매개변수 x 
    - datafram.apply() -> Seires(df의 한 행 또는 한 열) 가 전달
    - series.apply() -> Series 원소가 전달.
    """
    print(x)
    print("---------------")
    return x**2

In [180]:
df.apply(func)

0     0
1     4
2     8
3    12
4    16
5    20
Name: no1, dtype: int32
---------------
0     1
1     5
2     9
3    13
4    17
5    21
Name: no2, dtype: int32
---------------
0     2
1     6
2    10
3    14
4    18
5    22
Name: no3, dtype: int32
---------------
0     3
1     7
2    11
3    15
4    19
5    23
Name: no4, dtype: int32
---------------

   no1  no2  no3  no4
0    0    1    4    9
1   16   25   36   49
2   64   81  100  121
3  144  169  196  225
4  256  289  324  361
5  400  441  484  529

In [181]:
df.apply(func, axis =1) #axis = 1 : 행단위로 전달

no1    0
no2    1
no3    2
no4    3
Name: 0, dtype: int32
---------------
no1    4
no2    5
no3    6
no4    7
Name: 1, dtype: int32
---------------
no1     8
no2     9
no3    10
no4    11
Name: 2, dtype: int32
---------------
no1    12
no2    13
no3    14
no4    15
Name: 3, dtype: int32
---------------
no1    16
no2    17
no3    18
no4    19
Name: 4, dtype: int32
---------------
no1    20
no2    21
no3    22
no4    23
Name: 5, dtype: int32
---------------

   no1  no2  no3  no4
0    0    1    4    9
1   16   25   36   49
2   64   81  100  121
3  144  169  196  225
4  256  289  324  361
5  400  441  484  529

In [182]:
# 추가 매개변수가 있는 경우
def func2(x, value):
    return x + value 

df.apply(func2, value = 100)

   no1  no2  no3  no4
0  100  101  102  103
1  104  105  106  107
2  108  109  110  111
3  112  113  114  115
4  116  117  118  119
5  120  121  122  123

In [183]:
# 람다식

df.apply(lambda x : x *2)

   no1  no2  no3  no4
0    0    2    4    6
1    8   10   12   14
2   16   18   20   22
3   24   26   28   30
4   32   34   36   38
5   40   42   44   46

### df의 원소 => series -> 별로 넘어가 일괄처리
### series의 원소 => value -> 별로 넘아가 일괄처리

In [185]:
# series -> 원소 값 하나씩 넘어가 일괄처리하여 -> series 로


df['no1'].apply(func)

0
---------------
4
---------------
8
---------------
12
---------------
16
---------------
20
---------------

0      0
1     16
2     64
3    144
4    256
5    400
Name: no1, dtype: int64

# cut()/qcut() - 연속형(수치)을 범주형으로 변환

구간으로 나누기 : binning 구간화

- cut() : 지정한 값을 기준으로 구간을 나눠 그룹으로 묶는다.
    - 규칙없이 내가 원하는 지점에서 구간을 나누고 싶을 때

    - `pd.cut(x, bins,right=True, labels=None)`
    - 매개변수
        - x: 범주형으로 바꿀 대상. 1차원 배열형태(Series, 리스트, ndarray)의 자료구조 (cf. df 안됨)
        - bins: 범주로 나눌때의 기준값(구간경계)들을 리스트로 묶어서 전달한다.
        - right: 구간경계의 오른쪽(True-기본)을 포함할지 왼쪽(False)을 포함할지
        - labels: 각 구간(범주)의 label을 리스트로 전달
            - 생략하면 범위를 범주명으로 사용한다. (ex: (10, 20], ()-포함안함, []-포함)
            
            
- qcut() :  대상배열의 최대값 ~ 최소값을 지정한 개수의 동등한 size(**원소의개수**)가 되도록 나눈다.
    - 구간의 원소의 갯수를 똑같게 나누고 싶을 때

    - `pd.qcut(x, q, labels)`
    - 매개변수
        - x: 나눌 대상. 1차원 배열형태의 자료구조
        - q: 나눌 개수
        - labels: 각 구간(범주)의 label을 리스트로 전달
        


- pd의 메소드들이다.

In [ ]:
# 난수 생성 : 0~50 숫자 중 30개의 정수를 ramdom하게 생성
np.random.randint(50, size = 30) # 1차원 배열

In [221]:
# 생성한 난수 1차원 배열을 Series로
ages = pd.Series(np.random.randint(50, size = 30))
ages

ages.value_counts().sort_index()  # 중복 몇 개 있고~ 범주 아닌 연속형 인 걸 알 수 있다.

0     12
1     15
2     48
3      1
4     23
5     33
6      5
7     10
8     44
9     42
10    27
11    40
12    35
13    37
14     0
15     8
16     6
17    47
18    24
19    30
20    11
21     7
22    41
23    47
24    34
25    26
26    43
27    26
28     7
29     7
dtype: int32

In [272]:
# cut() 을 이용해 구간별로 그룹화

bins = [-1,10,30,40,50]

pd.cut(ages, bins=bins) # ages의 각 index의 값이 어느 그룹에 포함되는지를 반환

0     (10, 30]
1     (10, 30]
2     (40, 50]
3     (-1, 10]
4     (10, 30]
5     (30, 40]
6     (-1, 10]
7     (-1, 10]
8     (40, 50]
9     (40, 50]
10    (10, 30]
11    (30, 40]
12    (30, 40]
13    (30, 40]
14    (-1, 10]
15    (-1, 10]
16    (-1, 10]
17    (40, 50]
18    (10, 30]
19    (10, 30]
20    (10, 30]
21    (-1, 10]
22    (40, 50]
23    (40, 50]
24    (30, 40]
25    (10, 30]
26    (40, 50]
27    (10, 30]
28    (-1, 10]
29    (-1, 10]
dtype: category
Categories (4, interval[int64, right]): [(-1, 10] < (10, 30] < (30, 40] < (40, 50]]

In [273]:
bins = [-1,10,30,40,50]

pd.cut(ages, bins=bins, right = False)

0     [10, 30)
1     [10, 30)
2     [40, 50)
3     [-1, 10)
4     [10, 30)
5     [30, 40)
6     [-1, 10)
7     [10, 30)
8     [40, 50)
9     [40, 50)
10    [10, 30)
11    [40, 50)
12    [30, 40)
13    [30, 40)
14    [-1, 10)
15    [-1, 10)
16    [-1, 10)
17    [40, 50)
18    [10, 30)
19    [30, 40)
20    [10, 30)
21    [-1, 10)
22    [40, 50)
23    [40, 50)
24    [30, 40)
25    [10, 30)
26    [40, 50)
27    [10, 30)
28    [-1, 10)
29    [-1, 10)
dtype: category
Categories (4, interval[int64, left]): [[-1, 10) < [10, 30) < [30, 40) < [40, 50)]

right = T : 큰쪽을 포함. 
    
    -1~10, 10~30(11~30), 30~40(31~40), 40~50 (41~50)

    (30, 40] : 30은 포함안하고 40은 포함한다. 30 <  <=40
    
right = F : 작은쪽을 포함.
     [30,40) : 30 포함. 40 미포함 30 <=   <40

( ) => 포함 안함. [] => 포함 한다.

In [207]:
# 가독성 위해 라벨 붙이기

# -1~10, 10~30(11~30), 30~40(31~40), 40~50 (41~50)

labels = ['19세 이하', '10,20대 ', '30대', '40대']
age_cate = pd.cut(ages, bins=bins, labels = labels)
age_cate

0         30대
1      19세 이하
2     10,20대
3      19세 이하
4     10,20대
5         40대
6         30대
7      19세 이하
8         30대
9     10,20대
10     19세 이하
11    10,20대
12     19세 이하
13     19세 이하
14        30대
15    10,20대
16        30대
17        40대
18     19세 이하
19        30대
20    10,20대
21        30대
22        30대
23     19세 이하
24    10,20대
25        30대
26     19세 이하
27        40대
28     19세 이하
29        40대
dtype: category
Categories (4, object): ['19세 이하' < '10,20대 ' < '30대' < '40대']

In [209]:
# 데이터프레임으로 만들기

age_df = pd.DataFrame({'나이':ages, '나이대':age_cate})
age_df

    나이      나이대
0   34      30대
1    8   19세 이하
2   16  10,20대
3    5   19세 이하
4   15  10,20대
5   44      40대
6   38      30대
7    6   19세 이하
8   39      30대
9   15  10,20대
10   7   19세 이하
11  22  10,20대
12  10   19세 이하
13   1   19세 이하
14  35      30대
15  24  10,20대
16  40      30대
17  48      40대
18   4   19세 이하
19  39      30대
20  14  10,20대
21  39      30대
22  39      30대
23   3   19세 이하
24  23  10,20대
25  38      30대
26   5   19세 이하
27  44      40대
28  10   19세 이하
29  45      40대

In [210]:
age_df.groupby('나이대')['나이'].mean()

나이대
19세 이하      5.900000
10,20대     18.428571
30대        37.888889
40대        45.250000
Name: 나이, dtype: float64

In [211]:
# qcut() - n 등분을 지정하면 동일한 원소의 갯수로 N 개의 그룹으로 나눈다.
pd.qcut((ages), 2)

0      (22.5, 48.0]
1     (0.999, 22.5]
2     (0.999, 22.5]
3     (0.999, 22.5]
4     (0.999, 22.5]
5      (22.5, 48.0]
6      (22.5, 48.0]
7     (0.999, 22.5]
8      (22.5, 48.0]
9     (0.999, 22.5]
10    (0.999, 22.5]
11    (0.999, 22.5]
12    (0.999, 22.5]
13    (0.999, 22.5]
14     (22.5, 48.0]
15     (22.5, 48.0]
16     (22.5, 48.0]
17     (22.5, 48.0]
18    (0.999, 22.5]
19     (22.5, 48.0]
20    (0.999, 22.5]
21     (22.5, 48.0]
22     (22.5, 48.0]
23    (0.999, 22.5]
24     (22.5, 48.0]
25     (22.5, 48.0]
26    (0.999, 22.5]
27     (22.5, 48.0]
28    (0.999, 22.5]
29     (22.5, 48.0]
dtype: category
Categories (2, interval[float64, right]): [(0.999, 22.5] < (22.5, 48.0]]

In [ ]:
이렇게 나눔.

[(0.999, 22.5] < (22.5, 48.0]]

In [222]:
age_cate2 = pd.qcut((ages), 3, labels=["상","중","하"])
age_cate2

0     중
1     중
2     하
3     상
4     중
5     중
6     상
7     상
8     하
9     하
10    중
11    하
12    하
13    하
14    상
15    상
16    상
17    하
18    중
19    중
20    상
21    상
22    하
23    하
24    중
25    중
26    하
27    중
28    상
29    상
dtype: category
Categories (3, object): ['상' < '중' < '하']

In [219]:
df2 = pd.DataFrame({'나이':ages,'나이대':age_cate2})
df2

    나이 나이대
0   34   중
1    8   상
2   16   중
3    5   상
4   15   중
5   44   하
6   38   중
7    6   상
8   39   하
9   15   중
10   7   상
11  22   중
12  10   상
13   1   상
14  35   중
15  24   중
16  40   하
17  48   하
18   4   상
19  39   하
20  14   중
21  39   하
22  39   하
23   3   상
24  23   중
25  38   중
26   5   상
27  44   하
28  10   상
29  45   하

In [223]:
df2.groupby('나이대')['나이'].count()

나이대
상    10
중    11
하     9
Name: 나이, dtype: int64

# TODO

In [225]:
# TODO 1: data/diamonds.csv 를 읽어 DataFrame으로 만든다.

dia = pd.read_csv('data/diamonds.csv')

In [238]:
# TODO 2: price 컬럼을 '고가', '중가', '저가' 세개의 범주값을 가지는 "price_cate" 컬럼을 생성한다.

price_cate = pd.qcut(dia['price'], 3, labels=["저가", "중가", "고가"])

dia.drop(columns = "price_cate", inplace = True)
dia.insert(7, "price_cate", price_cate)

dia

,carat,cut,color,clarity,depth,table,price,price_cate,x,y,z
0,0.23,Ideal,E,SI2,61.5,55.0,326,저가,3.95,3.98,2.43
1,0.21,Premium,E,SI1,59.8,61.0,326,저가,3.89,3.84,2.31
2,0.23,Good,E,VS1,56.9,65.0,327,저가,4.05,4.07,2.31
3,0.29,Premium,I,VS2,62.4,58.0,334,저가,4.20,4.23,2.63
4,0.31,Good,J,SI2,63.3,58.0,335,저가,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,중가,5.75,5.76,3.50
53936,0.72,Good,D,SI1,63.1,55.0,2757,중가,5.69,5.75,3.61
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,중가,5.66,5.68,3.56
53938,0.86,Premium,H,SI2,61.0,58.0,2757,중가,6.15,6.12,3.74
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,중가,5.83,5.87,3.64

In [239]:
# TODO 3 가격대(price_cate) 별 carat의 평균을 조회

dia.groupby('price_cate')["carat"].mean()

price_cate
저가    0.352691
중가    0.709712
고가    1.331734
Name: carat, dtype: float64

In [241]:
# TODO 4 가격대(price_cate)와 cut별 평균 가격(price)를 피봇테이블로 조회
dia.pivot_table(values = "price", index = "cut", columns ="price_cate", aggfunc = "mean")

price_cate          저가           중가           고가
cut
Fair        934.774038  2758.364720  8008.701599
Good        722.535903  2750.656315  7876.938825
Ideal       808.090128  2393.391611  8636.215870
Premium     814.953663  2638.198339  8669.363940
Very Good   710.980713  2608.592897  8231.963420

In [242]:
# TODO 5 cut, color, price_cate 별 carat의 평균을 피봇테이블로 조회

dia.pivot_table(values = "carat", index = ["cut","color"], columns="price_cate", aggfunc = "mean")

price_cate             저가        중가        고가
cut       color
Fair      D      0.380000  0.788667  1.263793
          E      0.422045  0.810948  1.238125
          F      0.469538  0.813401  1.321800
          G      0.520667  0.841524  1.524190
          H      0.528571  0.925294  1.680155
          I      0.575000  0.917573  1.764516
          J      0.512500  0.954848  2.055111
Good      D      0.366716  0.732222  1.152030
          E      0.368176  0.722384  1.185882
          F      0.369234  0.753515  1.190988
          G      0.359116  0.778609  1.260220
          H      0.357842  0.828496  1.392256
          I      0.373898  0.845053  1.622383
          J      0.413538  0.910360  1.600229
Ideal     D      0.341201  0.594647  1.129029
          E      0.341890  0.617754  1.159251
          F      0.345013  0.636854  1.206230
          G      0.346465  0.623904  1.236651
          H      0.349263  0.688589  1.334912
          I      0.369817  0.754603  1.482795
          J      0.408122  0.843202  1.562033
Premium   D      0.352360  0.658421  1.203803
          E      0.355189  0.685993  1.241884
          F      0.371471  0.725741  1.250113
          G      0.359475  0.725989  1.311747
          H      0.349070  0.837882  1.417853
          I      0.354286  0.876406  1.600363
          J      0.385354  0.934612  1.712554
Very Good D      0.336331  0.664438  1.137445
          E      0.328610  0.676920  1.171712
          F      0.332036  0.711580  1.189147
          G      0.350347  0.707678  1.233414
          H      0.347018  0.766494  1.359085
          I      0.374531  0.816453  1.537214
          J      0.421729  0.868326  1.605957